@import "reset.scss";
$menutextcolor: rgb(153,153,153);
$borders: rgb(126,126,126);
$greybackground: rgb(244,244,244);
$texthover: rgb(180, 200, 200);

@mixin hover{
  &:hover{
    color: $texthover;
  }
}

@font-face {
  font-family: 'pt_sansregular';
  src: url('../assets/pt_sans-webfont.eot');
  src: url('../assets/pt_sans-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/pt_sans-webfont.woff2') format('woff2'),
  url('../assets/pt_sans-webfont.woff') format('woff'),
  url('../assets/pt_sans-webfont.ttf') format('truetype'),
  url('../assets/pt_sans-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lucida_granderegular';
  src: url('../assets/lucida_grande-webfont.eot');
  src: url('../assets/lucida_grande-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/lucida_grande-webfont.woff2') format('woff2'),
  url('../assets/lucida_grande-webfont.woff') format('woff'),
  url('../assets/lucida_grande-webfont.ttf') format('truetype'),
  url('../assets/lucida_grande-webfont.svg#lucida_granderegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'antic_slabregular';
  src: url('../assets/anticslab-regular-webfont.eot');
  src: url('../assets/anticslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/anticslab-regular-webfont.woff2') format('woff2'),
  url('../assets/anticslab-regular-webfont.woff') format('woff'),
  url('../assets/anticslab-regular-webfont.ttf') format('truetype'),
  url('../assets/anticslab-regular-webfont.svg#antic_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
body{
  font-family: "pt_sansregular", sans-serif;
  width: 1024px;
  height: 760px;
  margin: 0 auto;
}
header.mainHeader{
  height: 120px;
  background: url("../assets/logo.png") no-repeat 15px 22px;
  div#smallMenu{
    ul {
      color: $menutextcolor;
      float: right;
      li {
        a{
          display: block;
          width: 100%;
          height: 100%;
        }
        text-align: center;
        display: inline-block;
        height: 36px;
        line-height: 30px;
        width: 72px;
        font-size: 0.7em;
        &.basket {
          margin-right: 5px;
        }
        &#currency{
          color: $menutextcolor;
          background: url("../assets/currency_arrow.png") no-repeat 65px 13px;
          &:hover{
            color: $menutextcolor;
          }
        }
        &:hover{
          color: white;
          background: url("../assets/button_selection.png") no-repeat;
        }
      }
    }
  }

  nav{
    color: rgb(153,153,153);
    font-family: "antic_slabregular", sans-serif;
    clear: both;
    float: right;
    ul{
      height: 84px;
      li{
        @include hover;
        a{
          display: block;
          padding: 0 42px 0 25px;
          &#search{
            width: 39px;
            padding: 0;
            background: url("../assets/search_icon.png") no-repeat 0 30px;
          }
          &#shop{
            width: 64px;
            padding: 0;
          }
        }
        display: inline-block;
        line-height: 84px;

        text-transform: uppercase;
        text-align: center;

      }
    }
  }
  div#shopPopup{
    font-family: "antic_slabregular", sans-serif;
    display: none;
    position: absolute;
    z-index: 1;
    width: 994px;
    top: 120px;
    background-color: rgb(244,244,244);
    padding: 30px 15px;
    div#ribbon{
      position: absolute;
      width: 64px;
      height: 15px;
      background: url("../assets/shop_ribbon_lower.png");
      left: 357px;
      margin-top: -30px;
    }
    div.block{
      display: inline-block;
      margin-right: 12px;
      text-align: center;
      text-transform: uppercase;
      background: url("../assets/shadow_small.png") no-repeat 0 123px;
      img{
        width: 165px;
        height: 130px;
        border: 10px solid white;
      }
      &.last{
        margin: 0;
      }
    }
    div.row{
      margin-bottom: 40px;
    }
  }
}

nav#subCategories{
  font-family: "antic_slabregular", sans-serif;
  background-color: $greybackground;
  text-transform: uppercase;
  height: 105px;
  ul {
    font-size: 0.9em;
    line-height: 105px;
    height: 100%;
    li {
      @include hover;
      display: inline-block;
      a{
        padding: 0 33px;
        display: block;
        &.last{
          padding-right: 40px;
        }
        &.first{
          padding-left: 40px;
        }
      }
    }
  }
  margin-bottom: 7px;
}

article{
  div#articleWrapper{
    float: right;
    width: 308px;
    height: 423px;
    background: $greybackground;
    margin-right: 10px;
    position: relative;
  }
  div#corner{
    width: 16px;
    height: 13px;
    background: url("../assets/landing_corner.png") no-repeat;
    position: absolute;
    margin-top: 11px;
    margin-left: -16px;
  }
  h1{
    font-family: "antic_slabregular", sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
    background: rgb(174,202,204);
    width: 250px;
    color: white;
    text-align: center;
    padding: 6px 0;
    margin-top: 23px;
    margin-left: -16px;
  }
  p{
    font-family: "PT Sans", sans-serif;
    padding: 20px 30px 0 20px;
    font-size: 0.9em;
    color: $menutextcolor;
  }
  div#articleShadow{
    width: 305px;
    height: 38px;
    position: absolute;
    background: url("../assets/landing_article_shadow.png");
    margin-top: 400px;
    margin-left: 40px;
    z-index: -1;
  }
}
aside{
  float: right;
  img{
    border-left: 10px solid white;
    border-bottom: 20px solid white;
    position: relative;
  }
  div#asideShadow{
    z-index: -1;
    position: absolute;
    width: 658px;
    height: 38px;
    background: url("../assets/landing_aside_shadow.png") no-repeat;
    margin-top: -26px;
  }
}

.clearfix{
  &:after{
    content: '';
    display: table; //why not block? well, IE..
    clear: both;
  }
}