/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: 'pt_sansregular';
  src: url("../assets/pt_sans-webfont.eot");
  src: url("../assets/pt_sans-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/pt_sans-webfont.woff2") format("woff2"), url("../assets/pt_sans-webfont.woff") format("woff"), url("../assets/pt_sans-webfont.ttf") format("truetype"), url("../assets/pt_sans-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lucida_granderegular';
  src: url("../assets/lucida_grande-webfont.eot");
  src: url("../assets/lucida_grande-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/lucida_grande-webfont.woff2") format("woff2"), url("../assets/lucida_grande-webfont.woff") format("woff"), url("../assets/lucida_grande-webfont.ttf") format("truetype"), url("../assets/lucida_grande-webfont.svg#lucida_granderegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'antic_slabregular';
  src: url("../assets/anticslab-regular-webfont.eot");
  src: url("../assets/anticslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/anticslab-regular-webfont.woff2") format("woff2"), url("../assets/anticslab-regular-webfont.woff") format("woff"), url("../assets/anticslab-regular-webfont.ttf") format("truetype"), url("../assets/anticslab-regular-webfont.svg#antic_slabregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "pt_sansregular", sans-serif;
  width: 1024px;
  height: 760px;
  margin: 0 auto; }

header.mainHeader {
  height: 120px;
  background: url("../assets/logo.png") no-repeat 15px 22px; }
  header.mainHeader div#smallMenu ul {
    color: #999999;
    float: right; }
    header.mainHeader div#smallMenu ul li {
      text-align: center;
      display: inline-block;
      height: 36px;
      line-height: 30px;
      width: 72px;
      font-size: 0.7em; }
      header.mainHeader div#smallMenu ul li a {
        display: block;
        width: 100%;
        height: 100%; }
      header.mainHeader div#smallMenu ul li.basket {
        margin-right: 5px; }
      header.mainHeader div#smallMenu ul li#currency {
        color: #999999;
        background: url("../assets/currency_arrow.png") no-repeat 65px 13px; }
        header.mainHeader div#smallMenu ul li#currency:hover {
          color: #999999; }
      header.mainHeader div#smallMenu ul li:hover {
        color: white;
        background: url("../assets/button_selection.png") no-repeat; }
  header.mainHeader nav {
    color: #999999;
    font-family: "antic_slabregular", sans-serif;
    clear: both;
    float: right; }
    header.mainHeader nav ul {
      height: 84px; }
      header.mainHeader nav ul li {
        display: inline-block;
        line-height: 84px;
        text-transform: uppercase;
        text-align: center; }
        header.mainHeader nav ul li:hover {
          color: #b4c8c8; }
        header.mainHeader nav ul li a {
          display: block;
          padding: 0 42px 0 25px; }
          header.mainHeader nav ul li a#search {
            width: 39px;
            padding: 0;
            background: url("../assets/search_icon.png") no-repeat 0 30px; }
          header.mainHeader nav ul li a#shop {
            width: 64px;
            padding: 0; }
  header.mainHeader div#shopPopup {
    font-family: "antic_slabregular", sans-serif;
    display: none;
    position: absolute;
    z-index: 1;
    width: 994px;
    top: 120px;
    background-color: #f4f4f4;
    padding: 30px 15px; }
    header.mainHeader div#shopPopup div#ribbon {
      position: absolute;
      width: 64px;
      height: 15px;
      background: url("../assets/shop_ribbon_lower.png");
      left: 357px;
      margin-top: -30px; }
    header.mainHeader div#shopPopup div.block {
      display: inline-block;
      margin-right: 12px;
      text-align: center;
      text-transform: uppercase;
      background: url("../assets/shadow_small.png") no-repeat 0 123px; }
      header.mainHeader div#shopPopup div.block img {
        width: 165px;
        height: 130px;
        border: 10px solid white; }
      header.mainHeader div#shopPopup div.block.last {
        margin: 0; }
    header.mainHeader div#shopPopup div.row {
      margin-bottom: 40px; }

nav#subCategories {
  font-family: "antic_slabregular", sans-serif;
  background-color: #f4f4f4;
  text-transform: uppercase;
  height: 105px;
  margin-bottom: 7px; }
  nav#subCategories ul {
    font-size: 0.9em;
    line-height: 105px;
    height: 100%; }
    nav#subCategories ul li {
      display: inline-block; }
      nav#subCategories ul li:hover {
        color: #b4c8c8; }
      nav#subCategories ul li a {
        padding: 0 33px;
        display: block; }
        nav#subCategories ul li a.last {
          padding-right: 40px; }
        nav#subCategories ul li a.first {
          padding-left: 40px; }

article div#articleWrapper {
  float: right;
  width: 308px;
  height: 423px;
  background: #f4f4f4;
  margin-right: 10px;
  position: relative; }
article div#corner {
  width: 16px;
  height: 13px;
  background: url("../assets/landing_corner.png") no-repeat;
  position: absolute;
  margin-top: 11px;
  margin-left: -16px; }
article h1 {
  font-family: "antic_slabregular", sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  background: #aecacc;
  width: 250px;
  color: white;
  text-align: center;
  padding: 6px 0;
  margin-top: 23px;
  margin-left: -16px; }
article p {
  font-family: "PT Sans", sans-serif;
  padding: 20px 30px 0 20px;
  font-size: 0.9em;
  color: #999999; }
article div#articleShadow {
  width: 305px;
  height: 38px;
  position: absolute;
  background: url("../assets/landing_article_shadow.png");
  margin-top: 400px;
  margin-left: 40px;
  z-index: -1; }

aside {
  float: right; }
  aside img {
    border-left: 10px solid white;
    border-bottom: 20px solid white;
    position: relative; }
  aside div#asideShadow {
    z-index: -1;
    position: absolute;
    width: 658px;
    height: 38px;
    background: url("../assets/landing_aside_shadow.png") no-repeat;
    margin-top: -26px; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/*# sourceMappingURL=main.css.map */
